/laravel/.phpunit.cache
/laravel/node_modules
/web/build
/web/hot
/web/storage
/web/*.key
/web/gallery
/web/css
/web/js
/web/vendor
/laravel/vendor
/laravel/.env
/laravel/.env.backup
/laravel/.env.production
/laravel/.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
docker
/nginx/default.conf
/custom-php.ini
/docker-compose.yml
/Dockerfile
